[Unit]
Description=Collecting temperature date from home senzor
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3.7   /home/pi/meteostation/homestation_sensors/sensor_home.py